@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --dark-color: #111111;
    --gray-color: #CCCCCC;
    --light-color: #F1F1F1;

}

body {
    background-color: var(--light-color);
}

h1, h2, h3  {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

div {
    font-family: Roboto, sans-serif;
    font-weight:300;
    color: var(--dark-color);
}

.emphasis {
    font-weight: bold;
}